@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&display=swap");
@import "./variables.scss";

:root {
  --bs-font-sans-serif: "Inter" !important;
}

$theme-colors: (
  "primary": $primary,
  "primary-hover": $primary-hover,
  "primary-active": $primary-active,
  "main": $main,
  "light-bg": $light-bg,
  "lighten-1": $lighten-1,
  "lighten-2": $lighten-2,
  "lighten-3": $lighten-3,
  "lighten-bg-1": $lighten-bg-1,
  "darker-bg": $darker-bg,
  "white": $white,
);

.fs-base {
  font-size: $font-size-base !important;
}

.fs-xs {
  font-size: $font-size-xs !important;
}

.fs-sm {
  font-size: $font-size-sm !important;
}

.fs-lg {
  font-size: $font-size-lg !important;
}

.btn-primary.btn:hover {
  background-color: $primary-hover !important;
}

.btn-primary.btn-check:checked + .btn-primary.btn,
:not(.btn-check) + .btn-primary.btn:active,
.btn-primary.btn:first-child:active,
.btn-primary.btn.active,
.btn-primary.btn.show {
  background-color: $primary-active !important;
}

@import "bootstrap";
