/* Figma colors */

$primary: #1952e1;
$primary-hover: #1649ca;
$primary-active: #2e3e6e;

$main: #1a1a1a;

$light-bg: #f3f4f9;

$lighten-1: #33373c;
$lighten-2: #63666e;
$lighten-3: #9a9da4;
$lighten-bg-1: #f8f8fb;

$darker-bg: #e2e4ea;

$white: #ffffff;

$font-size-base: 1rem;
$font-size-xs: $font-size-base * 0.75;
$font-size-sm: $font-size-base * 0.875;
$font-size-lg: $font-size-base * 1.25;
